:root {
  --header-border-color: #cccccc;
  --header-font-color: #6795eb;
  --main-background-color: #afafaf;

  --folder-container-color: #5f639d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
}


/* DOCUMENTS COMPONENT  */

.documents-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  width: 60vh;
  background-color: var(--folder-container-color);
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}

.documents-container .document-navigation {
  display: flex;
  flex-direction: row;
}